.left {
    display: flex;
    justify-content: flex-end;
}

.right {
    margin-left: 3%;
}

.avatar {
    width: 270px;
    height: 270px;
    margin-top: 5px;
    border-style: solid;
    border-width: 2px;
    border-color:#2b82da;
}

p {
    width: 45%;
}

.link-button { 
    background: none;
    border: none;
    color: #0066ff;
    cursor: pointer; 
}

.inline {
    display: inline;
}

@media screen and (max-width: 768px) {

    .splitscreen {
        display: block;
    }

    .left {
        flex: none;
        max-width: 100%;
    }

    .right {
        flex: none;
        margin-top: 5%;
        margin-left: 10%;
        margin-right: 10%;
        max-width: 100%;
    }

    p {
        width: 100%;
    }

    .avatar {
        margin-left: auto;
        margin-right: auto;
    }

    .absolute-center {
        margin-top: 5%;
        top: auto;
        left: auto;
        margin-right: auto;
        transform: none;
        z-index: 2000;
      }

}