<div class="splitscreen absolute-center">
    <div class="left">
        <img class="avatar" src="assets/images/avatar.jpg" />
    </div>
    <div class="right">
        <h1>Who am I?</h1>
        <p>I'm a <i>Software Engineer</i> 🛠️ who also happened to be a <i>Monster Hunter enthusiast</i>
            👣👣👣🐉!<br><br>

            This project is fully <a href="https://github.com/dsibilio/mhw-models-viewer">open-source</a>
            and is powered by <a href="https://github.com/kovacsv/Online3DViewer">Online3DViewer</a>.<br><br>

            <i>Feel free to contribute to this project, raise an issue if necessary and support upkeeping and
                maintenance
                costs through the
                <form ngNoForm action="https://www.paypal.com/donate" method="post" target="_top" class="inline">
                    <input type="hidden" name="hosted_button_id" value="2E7Q5EBNJHYAW" />
                    <input type="submit" class="link-button" name="submit" title="Donate with PayPal"
                        alt="Donate with PayPal button" value="Donate!" />
                    <img alt="" src="https://www.paypal.com/en_IT/i/scr/pixel.gif" width="1" height="1" />
                </form> button.</i> 😊
        </p>
    </div>
</div>