.type-icon {
  color: #757575;
  margin-right: 5px;
}

.node-icon {
  margin-right: 5px;
  height: 32px;
  width: 32px;
}

#category-tree-container {
  width: 10%;
}

#model-view-container {
  width: 80%;
}

#model-list-container {
  width: 10%;
  max-height: 85vh;
  overflow-x: hidden;
  overflow-y: auto
}

.filter-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.filter-input {
  width: 100%;
}

#canvas-bg-picker {
  min-height: 30px;
  height: 50%;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 2000;
}

canvas.inactive {
  pointer-events: none;
  visibility: hidden;
}

canvas {
  border-style: solid;
  border-width: 1px;
  border-color: darkgray;
}