@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
    font-family: 'Roboto', Arial, sans-serif;
    color: #616161;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    margin: 0;
  }
  
  .container {
    display: flex;
    flex-direction: row;
  }
  
  h1 {
    font-size: 32px;
  }
  
  h2 {
    font-size: 20px;
  }
  
  h1, h2 {
    font-weight: lighter;
  }
  
  p {
    font-size: 14px;
  }
  
  a {
    cursor: pointer;
    color: #1976d2;
    text-decoration: none;
  }
  
  a:hover {
    opacity: 0.8;
  }
  
  input {
    font-size: 14px;
    border-radius: 2px;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #BDBDBD;
  }
  
  label {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
    display: block;
    text-transform: uppercase;
  }
  
  .button, button {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    background-color: #1976d2;
    color: white;
    border: none;
  }
  
  .button:hover, button:hover {
    opacity: 0.8;
    font-weight: normal;
  }
  
  .button:disabled, button:disabled {
    opacity: 0.5;
    cursor: auto;
  }
  
  .fancy-button {
    background-color: white;
    color: #1976d2;
  }
  
  .fancy-button i.material-icons {
    color: #1976d2;
    padding-right: 4px;
  }
  
  app-top-bar {
    width: 100%;
    height: 68px;
    background-color: #1976d2;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  app-top-bar h1 {
    color: white;
    margin: 0;
  }

  app-model-viewer {
    width: 100%;
    height: 100%;
    padding: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .list-item {
    width: 100%;
    padding: 4px 8px;
    margin-bottom: 2px;
    border-radius: 5px;
    background-color: #EEEEEE;
  }

  .compact-list-item {
    width: 100%;
    padding: 1px 1px;
    margin: 0 0 2px !important;
    border-radius: 5px;
    background-color: #EEEEEE;
  }

  .compact-list-item:hover:not(.selected-list-item) {
    background-color: lightgrey;
    padding: 6px;
    font-size: medium;
  }

  .list-item:hover:not(.selected-list-item) {
    background-color: lightgrey;
    padding: 8px;
    font-size: medium;
  }

  .selected-list-item {
    background-color: lightgrey;
    font-weight: bold;
    font-size: medium;
    padding: 8px;
  }

  .bigger-item {
    padding: 8px 8px;
    font-size: large;
  }

  .splitscreen {
    display: flex;
  }
  
  .splitscreen .left {
    flex: 1;
  }
  
  .splitscreen .right {
    flex: 1;
  }

  .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #1976d2;
}