  .right-aligned {
    margin-left: auto;
    margin-right: 1%;
  }

  .white-icons {
    color: white;
    padding-right: 5px;
    padding-top: 8px;
    margin-bottom: 11px;
  }

  .centered-flex {
    display: flex;
    align-items: center;
  }

  .bottom-aligned {
    margin-top: 15px;
  }

  @media screen and (max-width: 768px) {

    .bottom-aligned {
      margin-left: 5px;
      margin-right: 5px;
      font-size: 14px;
      line-height: 20px;
    }

    .fancy-button {
      font-size: 0px;
    }

    i.material-icons {
      padding-right: 0px;
    }

    form {
      display: flex;
    }

}
